[Unit]
Description=SpyglassMC API server service
After=network.target

[Service]
Type=notify
User=api-server
Group=api-server
WorkingDirectory=/var/lib/api-server
EnvironmentFile=/etc/default/spyglassmc-api-server
ExecStart=/usr/local/bin/spyglassmc-web-api-server
TimeoutStartSec=600
WatchdogSec=30
Restart=always

[Install]
WantedBy=multi-user.target
