**/coverage
**/node_modules
**/.eslintcache
**/.nyc_output
**/.wireit
**/*.cpuprofile
**/*.tsbuildinfo

/.history
/.vscode/settings.json
/.mocharc.local.jsonc
/.idea

/packages/*/lib
/packages/*/out
/packages/*/dist
/packages/*/test-out

/packages/vscode-extension/**/*.vsix
