**/coverage
**/node_modules
**/.nyc_output
**/*.tsbuildinfo

/.vscode/settings.json
/.mocharc.local.jsonc

/packages/*/lib
/packages/*/out
/packages/*/dist
/packages/*/test-out

/packages/vscode-extension/**/*.vsix
