**/node_modules
**/.eslintcache
**/.wireit
**/*.cpuprofile
**/*.tsbuildinfo

/.helix/languages.toml
/.history
/.vscode/settings.json
/.idea

/packages/*/lib
/packages/*/out
/packages/*/dist

/packages/vscode-extension/**/*.vsix
