/.circleci
/.github
/.nyc_output
/.vscode
/contributors
/coverage
/img
/dist/client.js
/dist/**/*.js.map
/node_modules
/src
/.eslintignore
/.eslintrc.js
/.mocharc.jsonc
/.vscodeignore
/.gitattributes
/.gitignore
/.nycrc.json
/.releaserc.json
/.renovaterc.json
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/*.vsix
/icon.png
/language-configuration.json
/package.nls.*.json
/package.nls.json
/tsconfig.json
/tslint.json
/webpack.config.js
