- name: Install discord bot
  become: true
  community.general.npm:
    name: '@spyglassmc/discord-bot'
    global: true
    state: latest

- name: Create user
  become: true
  block:
    - name: Create group
      ansible.builtin.group:
        name: discord-bot
        system: true

    - name: Create user
      ansible.builtin.user:
        name: discord-bot
        group: discord-bot
        create_home: true
        home: /var/lib/discord-bot
        system: true

- name: Create config
  become: true
  become_user: discord-bot
  ansible.builtin.template:
    src: config.json
    dest: /var/lib/discord-bot/config.json
    mode: '600'

- name: Create service
  become: true
  ansible.builtin.copy:
    src: spyglassmc-discord-bot.service
    dest: /etc/systemd/system/spyglassmc-discord-bot.service
    mode: '644'
  notify: Reload systemctl daemon

- name: Start service
  become: true
  ansible.builtin.service:
    name: spyglassmc-discord-bot
    enabled: true
    state: started
