name: Commit
on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
env:
  BOT_EMAIL: ${{ secrets.BOT_EMAIL }}
  BOT_NAME: ${{ secrets.BOT_NAME }}
  BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci

      - run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci

      - run: npm run fmt:check

      - run: npm run build

      - run: npm test

      - run: tar -cvf build-artifact.tar packages/*/lib/ packages/*/out/ packages/*/dist/
      - uses: actions/upload-artifact@v3
        with:
          name: build-artifact
          path: build-artifact.tar

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # - run: git pull origin gh-pages:gh-pages --ff-only
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci

      - uses: actions/download-artifact@v3
        with:
          name: build-artifact
      - run: |
          tar -xvf build-artifact.tar
          rm build-artifact.tar

      - run: npm run release:dry

      - name: Deploy playground
        if: ${{ github.event_name == 'push' }}
        working-directory: packages/playground
        run: npm run deploy
