- name: Reload systemctl daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart API server service
  become: true
  ansible.builtin.service:
    name: spyglassmc-api-server
    enabled: true
    state: restarted

- name: Print SSH public key
  ansible.builtin.include_tasks: print_public_key.yml
